<div class="profilePagePanel">
  <div class="infoBackground"></div>
  <br/>
  <div class="profileHeader">
    <img class="profileImg" ng-src="{{user.imgUrl}}"/>
    <div class="profileInfo">
      <div class="username">{{user.name}}</div>
      <div>Member since: ???</div>
      <div>Higheset balance: ??? </div>
      <div>Social wins: ??? </div>
      <a class="btn btn-success betBtn" ng-click="newBet()">
        New Bet <i class="icon-hand-right"></i>
      </a>
    </div>
  </div>
  <div class="controlTabs">
    <ul class="nav nav-tabs">
      <li ng-class="{active: isActiveTab(0)}">
        <a href ng-click="setActiveTab(0)">
          Active bets
        </a>
      </li>
      <li ng-class="{active: isActiveTab(1)}">
        <a href ng-click="setActiveTab(1)">Bet invites</a>
      </li>
    </ul>
    <div class="tabContent">
      <div ng-include src="template.url">lalala</div>
    </div>
  </div>
 <!-- <button class="btn btn-danger btn-large" ng-click="newBet()">Creat a new bet</button> -->
</div>