<div class="profilePagePanel">
  <div class="infoBackground"></div>
  <br/>
  <div class="profileHeader">
    <img class="profileImg" ng-src="{{imgUrl}}"/>
    <div class="profileInfo">
      <div class="username">{{user.name}}</div>
      <div>Member since: ???</div>
      <div>Higheset balance: ??? </div>
      <div>Social wins: ??? </div>
      <a class="btn btn-success betBtn" ng-click="newBet()">
        New Bet <i class="icon-hand-right"></i>
      </a>
    </div>
  </div>
  <div class="ongoingBets">
    Here should show ongoing bets
  </div>
 <!-- <button class="btn btn-danger btn-large" ng-click="newBet()">Creat a new bet</button> -->
</div>