<div class="socialBet">
<!----------------------------------Game Selection Page---------------------------------->
  <div class="gameSelection">
    <div class="titleText">
      Pick a game:
    </div>
    <div class="gamesPanel row-fluid">
        <div ng-repeat = "game in games">
          <div class="gameChip">
            <div class="mask">
              <div class="left" ng-click="initBet(game, game.team1Id)"></div>
              <div class="right" ng-click="initBet(game, game.team2Id)"></div>
            </div>
            <div class="teamBlock">
              <div class="team">
                <img ng-src="app/img/helmets/{{game.team1Name.split(' ').join('').toLowerCase()}}1.png" 
                    class="teamLogo">
                {{game.team1Name}}
              </div>
              <div class="team">
                <img ng-src="app/img/helmets/{{game.team2Name.split(' ').join('').toLowerCase()}}2.png" 
                    class="teamLogo">
                {{game.team2Name}}
              </div>
            </div>
            <div class="timeBlock">
              {{game.gdate | date: 'medium'}}
            </div>
            <div class="spreadBlock">
              <div class="team">{{game.spreadTeam1}}</div>
              <div class="team">{{game.spreadTeam2}}</div>
            </div>
          </div>
        </div>
    </div>

    <div class="betOptionsPanel" ng-show="bet.game">
      <div class="sampleBet">
        <div class="field">
          <span class="fieldName">Sample Bet: </span>
          <span class="uneditable">${{sampleBetAmount | number:2}}</span>
        </div>
        <div class="field">
          <span class="fieldName">Sample Win: </span>
          <span class="uneditable" style="color: green;">
            ${{sampleBetAmount * bet.winRatio | number:2}}
          </span>
        </div>
        <a class="question" ui-jq="tooltip"
          data-original-title="If you bet ${{sampleBetAmount}} on {{bet.winnerName}}, you can possibly gain ${{sampleBetAmount * bet.winRatio | number:2}} when {{bet.winnerName}} wins">
          <img src="app/img/questionmark.png" />
        </a>
      </div>
      <div class="teams">
        <div class="teamBlock"
            ng-class="{'highlight': bet.winner==bet.game.team1Id}"
            ng-click="initBet(bet.game, bet.game.team1Id)">
          <img ng-src="app/img/helmets/{{bet.game.team1Name.split(' ').join('').toLowerCase()}}1.png" 
              class="teamLogo">
          <div>{{bet.game.spreadTeam1}}</div>
        </div>
        <div class="teamBlock"
            ng-class="{'highlight': bet.winner==bet.game.team2Id}"
            ng-click="initBet(bet.game, bet.game.team2Id)">
          <img ng-src="app/img/helmets/{{bet.game.team2Name.split(' ').join('').toLowerCase()}}2.png" 
              class="teamLogo">
          <div>{{bet.game.spreadTeam2}}</div>
        </div>
      </div>
      <div class="btn btn-danger btn-large" ng-click="currentPage = 1">
        Continue
      </div>
    </div>

  </div>
<!---------------------------------Friend Selection Page-------------------------------->
  <div class="friendSelection">
    <div class="titleText">
      <a class="backBtn" ng-click="currentPage = 0;">
        Back
      </a>
    </div>
    <div class="friendPanel">
      <div class="friendFilters">
        <select class="filter" ng-model="friendFilter">
          <option value="all">
            All friends
          </option>
          <option value="installed">
            Friends using Swagger
          </option>
          <option value="selected">
            Selected Friends
          </option>
        </select>
        <input type="text" class="searchBox" placeholder="Search..."
            ng-model="queryFriend" ng-show="friendFilter == 'all'">
      </div>
      <div class="row-fluid allFriends">
        <div ng-repeat="friend in friendsToDisplay | filter:queryFriend"
            class="friendChip" ng-click="toggleSelect(friend)">
          <div>
            <div class="friendImage">
              <img class="img"
                  ng-src="http://graph.facebook.com/{{friend.id}}/picture/">
              <img class="checkmark" src="app/img/checkmark.png"
                  ng-show="inSelectedFriends(friend)">
            </div>
            <div class="friendName">
                {{friend.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="bottomInner">
        <div class="numbers">
          <div class="field">
            <span class="fieldName">Bet: </span>
            <span class="uneditable">${{bet.displayAmount | number:2}}</span>
          </div>
          <div class="field">
            <span class="fieldName">Friends: </span>
            <span class="uneditable">{{selectedFriends.length}}</span>
          </div>
          <div class="field">
            <span class="fieldName">Win: </span>
            <span class="uneditable" style="color: green;">
              ${{bet.displayAmount * bet.winRatio | number:2}}
            </span>
          </div>
        </div>
        <div class="btn btn-danger btn-large" 
            ng-click="betBtnClicked()"
            ng-show="selectedFriends.length > 0">
          PLACE BET!
        </div>
        <div class="btn btn-danger btn-large disabled" 
            ng-show="selectedFriends.length == 0">
          PLACE BET!
        </div>
      </div>
    </div>
  </div>
</div>

