<div class="carousel slide" data-interval="false">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <div class="container friendsPanel">
        <button ng-click="addFriend()" class="btn">
          Add Friend
        </button>
        <div ng-repeat="friend in selectedFriends">
         <input type="text" ng-model="friend.name" />
         <span ng-click="removeFriend($index)" style="cursor:pointer;"> X </span>
        </div>
        <button class="btn btn-success nextBtn"
            ng-show="validateFriendsPanel()" ng-click="nextPanel()">
          Next
        </button>
      </div>
    </div>
    <div class="item">
      <div class="container eventsPanel">
        Search: <input ng-model="query">
        </select>
        <ul class="sportsListing">
          <li ng-repeat="event in events | filter:query" class="event">
            <div ng-click="eventSelected(event)"
                ng-class="{selectedEvent: event == selectedEvent}">
              {{event.name}}
            </div>
          </li>
        </ul>
        <button class="btn btn-inverse prevBtn" ng-click="prevPanel()">
          Back
        </button>
      </div>
    </div>
    <div class="item">
      <div class="container betPanel">
        Configure Bet
        <button class="btn btn-inverse prevBtn" ng-click="prevPanel()">
          Back
        </button>
      </div>
    </div>
  </div>
</div>