<div class="socialBet">
  <div class="infoBackground"></div>
  <div class="socialBetContent">
    <br>
    <div class="gameTypeSelect">
      Sport to bet on:
      <select ng-model="gameType"
          ng-options="g.name for g in gameTypes">
      </select>
    </div>

    <div class="gamesPanel">
      <div ng-repeat = "game in games">
        <div class="gameChip">
          <!-- {{game.header}}
           {{game.date}}
           {{game.team1}}
           {{game.team2}} -->
          <div class="block">
            <img src="app/img/helmut1.png" class="teamLogo">
            {{game.team1}}
          </div>
          <div class="block">
            <div class="vsText">
               VS
            </div>
            {{game.date}}
          </div>
          <div class="block">
            <img src="app/img/helmut2.png" class="teamLogo">
            {{game.team2}}
          </div>
        </div>
      </div>

    </div>
    <div class="betOptionsPanel">

    </div>
    <div class="betControls">
      <div class="friendSelection">
        <h4 style="margin-bottom: 5px;">Remaining Credit: $100 cents</h4>
        <h4>Pick Some Friends:</h4>
        <input type="text" class="friendInput"/>
      </div>
      <div class="betBtn btn btn-success btn-large">
        Place Bets!
        <i class="icon icon-credit"></i>
      </div>
    </div>
  </div>
</div>



<!-- <div class="carousel slide socialBetPage" data-interval="false" -->
  <!-- Carousel items -->
  <!-- <div class="carousel-inner">
      <div class="active item">
        <div class="container panelOne">
          <h4>Pick some friends:</h4>
          <input type="text" class="friendInput"/>
          <button class="btn btn-success nextBtn"
              ng-show="validateFriendsPanel()" ng-click="nextPanel()">
            Done
          </button>
        </div>
      </div>
      <div class="item">
        <div class="container eventsPanel">
          Search: <input ng-model="query">
          </select>
          <ul class="sportsListing">
            <li ng-repeat="event in events | filter:query" class="event">
              <div ng-click="eventSelected(event)"
                  ng-class="{selectedEvent: event == selectedEvent}">
                {{event.name}}
              </div>
            </li>
          </ul>
          <button class="btn btn-inverse prevBtn" ng-click="prevPanel()">
            Back
          </button>
        </div>
      </div>
      <div class="item">
        <div class="container betPanel">
          <div>
            <h1>{{selectedEvent.name}}</h1>
            <div class="row-fluid">
              <div class="span6">
                {{selectedEvent.firstTeam.name}}
                <div class="predictionChip"
                    ng-class="{winner: isPredictedWinner(selectedEvent.firstTeam)}"
                    ng-click="betOnTeam(selectedEvent.firstTeam)">
                  <span ng-hide="betPlaced">win/lose?</span>
                  <span ng-show="betPlaced">
                    <span ng-show="isPredictedWinner(selectedEvent.firstTeam)">
                      winner
                    </span>
                    <span ng-hide="isPredictedWinner(selectedEvent.firstTeam)">
                      loser
                    </span>
                  </span>
                </div>
              </div>
              <div class="span6">
                {{selectedEvent.secTeam.name}}
                <div class="predictionChip"
                    ng-class="{winner: isPredictedWinner(selectedEvent.secTeam)}"
                    ng-click="betOnTeam(selectedEvent.secTeam)">
                    <span ng-hide="betPlaced">win/lose?</span>
                    <span ng-show="betPlaced">
                      <span ng-show="isPredictedWinner(selectedEvent.secTeam)">
                        winner
                      </span>
                      <span ng-hide="isPredictedWinner(selectedEvent.secTeam)">
                        loser
                      </span>
                    </span>
                </div>
              </div>
            </div>
          </div>
          <div ng-show="betPlaced">
            <div ng-repeat="bet in currentBet.bets">
             Your bet with {{bet.friend.name}}:<br>
             Amount: <input type="number" ng-model="bet.amount" />
            </div>
          </div>
          <button class="btn btn-inverse prevBtn" ng-click="clearCurrentBet()">
            Back
          </button>
          <button class="btn btn-danger"
              ng-show="betPlaced" ng-click="placeBet()">
            Place Bet!
          </button>
        </div>
      </div>
    </div> -->
<!-- </div> -->