<!DOCTYPE html>
<html lang="en" ng-app="sportsbet">
<head>
  <meta charset="utf-8">
  <title>Sports Bet</title>
  <link rel="stylesheet" href="app/css/app.css">
  <link rel="stylesheet" href="app/lib/bootstrap/bootstrap.css">
</head>
<body ng-controller="MainCtrl">
  <!-- This invisible span will convey initial data such as
  opening bet invites if user arrives at our app by clicking an
  invite link -->
  <span id="initialData"style="display:none;"
      data="<%= req.url %>"></span>

  <!-- The div youtube uses to embed and show iframe -->
  <div id="playerContainer">
    <div id="player" class="youtubePlayer"></div>
  </div>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <img class="logo" src="app/img/logo.png" ng-click="showProfile()">
        <a class="username ng-cloak" ng-cloak ng-click="showProfile()">
          {{user.name}}
        </a>
        <button class="btn btn-danger betBtn"
            ng-click="newBet()">
          Make a bet
        </button>
        <div class="balance ng-cloak" ng-cloak >
          <img src="app/img/coins.png" />
          ${{user.balance}}
        </div>
      </div>
    </div>
  </div>
  <div class="mainPanel">
    <div class="infoBackground" ng-show="showInfoBackground"></div>
    <ng-view></ng-view>
  </div>
  <div ng-include src="'app/partials/popups.html'"></div>
  <div id="fb-root"></div>

  <script src="app/lib/jquery/jquery-1.8.2.min.js"></script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : <%= app.id %>, // App ID
        channelUrl : '//'+window.location.hostname+'/channel', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });
    };
  </script>
  

  <script src="//connect.facebook.net/en_US/all.js"></script>
  <!-- start Mixpanel --><script type="text/javascript">
  (function(c,a){window.mixpanel=a;
  	var b,d,h,e;b=c.createElement("script");
  	b.type="text/javascript";b.async=!0;
  	b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';
  	d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);
  	a._i=[];a.init=function(b,c,f){
  		function d(a,b){
  			var c=b.split(".");
  			2==c.length&&(a=a[c[0]],b=c[1]);
  			a[b]=function(){
  				a.push([b].concat(Array.prototype.slice.call(arguments,0)))
  			}
  		}

  		var g=a;"undefined"!==typeof f? g=a[f]=[]:f="mixpanel";
  		g.people=g.people||[];
  		h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");
  		for(e=0;e<h.length;e++)
  			d(g,h[e]);

  		a._i.push([b,c,f])
  	};

  	a.__SV=1.1})(document,window.mixpanel||[]);

          // dev id = below id
    mixpanel.init("<%= mixPanelToken %>");

  </script><!-- end Mixpanel -->


  <script src="app/lib/angular/angular.js"></script>
  <script src="app/lib/angular-ui/angular-ui.js"></script>
  <script src="app/js/app.js"></script>
  <script src="app/js/controllers.js"></script>
  <script src="app/js/socialbetcontroller.js"></script>
  <script src="app/js/filters.js"></script>
  <script src="app/js/services.js"></script>
  <script src="app/js/serverapi.js"></script>
  <script src="app/lib/angular/angular-resource.js"></script>
  <script src="app/lib/bootstrap/js/bootstrap-transition.js"></script>
  <script src="app/lib/bootstrap/js/bootstrap-modal.js"></script>
  <script src="app/lib/bootstrap/js/bootstrap-tooltip.js"></script>
  <script src="app/lib/bootstrap/js/bootstrap-popover.js"></script>
  <script src="app/lib/spinJs/spin.js"></script>
  <script src="app/lib/spinJs/jquery.spin.js"></script>
</body>
</html>
