<!DOCTYPE html>
<html lang="en" ng-app="sportsbet">
<head>
  <meta charset="utf-8">
  <title>Sports Bet</title>
  <link rel="stylesheet" href="app/css/app.css">
  <link rel="stylesheet" href="app/css/bootstrap.css">
  <script src="app/lib/angular/angular.js"></script>
  <script src="app/js/app.js"></script>
  <script src="app/js/controllers.js"></script>
  <script src="app/js/filters.js"></script>
  <script src="app/js/services.js"></script>
  <script src="app/lib/angular/angular-resource.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="#">Title</a>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
    </div>
  <div ng-view></div>
</body>
</html>
