/* app css stylesheet */

/* Global variables */
@panelWidth: 90%;
@mainPanelWidth: 900px;

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

// --- Useful mixins ------//
.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.transition(@property, @duration) {
  -moz-transition-property: @property;
  -moz-transition-duration: @duration;
  -webkit-transition-property: @property;
  -webkit-transition-duration: @duration;
  -o-transition-property: @property;
  -o-transition-duration: @duration;
}

.box-shadow (@string) {
  box-shadow: @string;
  -moz-box-shadow: @string;
  -webkit-box-shadow: @string;
}

.round-block(@width: 90%, @corner: 8px, @margin: 20px auto 0 auto) {
  width: @width;
  margin: 20px auto 0 auto;
  border-style: solid;
  border-color: darkgray;
  border-width: 2px;
  .box-shadow(0px 2px 2px 1px grey);
  .rounded-corners (@corner);
}
// ---- End of mixins ------//

body {
  background-size: 160%;
  background-image:url('../img/background.jpg');
}

// Css for text that is used as section titles in the app.
.titleText {
  font-family: Zapf Chancery, cursive;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 1px 2px gray;
}


/* CSS for widgets that may be used in multiple views */

.gameChip {
  height: 75px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  cursor: pointer;
  &:hover {
    background-color: #F0F8FF;
  }

  .block {
    float: left;
    width: 33.33%;
    height: 100%;
    text-align: center;
    font-size: 0.9em;
    line-height: 10px;
    .teamLogo {
      width: 40px;
      height: 40px;
      display: block;
      margin: 2px auto;
    }

    &.teamBlock:hover {
      background: gray;
    }
    .vsText {
      text-align: center;
      font-size: 2em;
      font-weight: bold;
      height: 30%;
      margin-top: 20%;
      margin-bottom: 10%;
    }
  }
}

.friendChip {
  position: relative;
  width: 15%;
  margin-left: 10px;
  float: left;
  &:hover {
    cursor: pointer;
    .friendImage {
      .img {
        border-color: blue !important;
      }
    }
    .friendName {
      font-weight: bold;
      color: blue;
    } 
  }
  .friendImage {
    text-align: center;
    position: relative;
    .img {
      border-style: solid;
      border-color: #6D84B4;
      border-width: 3px;
      .rounded-corners(4px);
      width: 56px;
      height: 56px;
    }
    .checkmark {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 25px;
      bottom: 0px;
    }
  }
  .friendName { 
    min-height: 45px;
    text-align: center;
    font-size: 0.9em;
  }
}

// ------------- End of widgets style -----------------//

/* CSS for loading mask */
.loadMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: transparent;
  opacity: 0.0;
  .transition(opacity, .6s);

  .backDrop {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  .spinnerBg {
    position: absolute;
    left: 45%;
    top: 35%;
    width: 150px;
    height: 150px;
    background-color: black;
    opacity: .7;
    .rounded-corners(10px);
  }

  .innerMask {
    position: relative;
    left: 45%;
    top: 35%;
    width: 150px;
    height: 150px;
    background-color: transparent;

    .text{
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 10%;
      font-weight: bold;
      color: white;
      font-size: 15px;
    }
  }
}


.loadMask.fade {
  opacity: 1;
  .transition(opacity, .6s);
}
/* --------- End of CSS for Load Mask ------------ */

.mainPanel {
  width: @mainPanelWidth;
  margin: 0 auto;
  position: relative;
}

.navbar {
  margin-bottom: 0 !important;
  .navbar-inner {
    .rounded-corners(0px);
    .container {
      width: @mainPanelWidth;
      margin: 0 auto;
      .betBtn, .username, .balance{
        float: right;
        margin-left: 7px;
      }
      .username, .balance {
        font-weight: bold;
        font-size: 1.3em;
        color: white;
        text-align: center;
        font-family: Zapf Chancery, cursive;
        padding-top: 12px;
      }
      .username {
        cursor: pointer;
      }
      .logo {
        width: 150px;
        margin-top: 3px;
        cursor: pointer;
      }
    }
  }
}

.infoBackground {
  //.rounded-corners (16px);
  display: none;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 650px;
  opacity: 0.9;
  background-color: white;
}

/* Style for landing.html */
.landingPanel {
  background-color: white;
  height: 530px;
  width: 100%;
  .middle {
    height: 410px;
    .suitCase {
      width: 90%;
      margin-left: 1px;
    }
  }
  .bottom {
    width: 100%;
    .btn {
      margin: 0 auto;
      display: block;
      width: 250px;
      font-weight: bold;
      font-size: 2.5em;
    }
  }
}
/* End of styles for landing.html */

/* Style for Profile.html */
.profilePagePanel {
  position: relative;
  .infoBackground {
    top: 20px !important;
  }
  .profileHeader {
    position: relative;
    .round-block(@panelWidth);

    .profileImg {
      display: inline-block;
      border: 2px blue solid;
      width: 100px;
      height: 130px;
      margin: 10px;
      .rounded-corners (5px);
    }

    .profileInfo {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.5;
      text-shadow: 1px 1px 2px gray;
      .username {
        font-weight: bold;
        font-size: 18px;
        font-family: Zapf Chancery, cursive;
      }
      .betBtn {
        margin-top: 10px;
      }
    }
  }

  .controlTabs {
    width: 60%;
    margin: 30px auto 0 auto;
    min-height: 200px;
    .tabContent {
      .round-block(100%, 4px);
       min-height: 200px;
/*      .rounded-corners(4px);*/
    }
  }
}

.activeBetsPanel {
  .activeBet {
    width: 80%;
    height: 30px;
    margin: 5px auto;
    border-style: solid;
    border-color: black;
    cursor: pointer;
    &:hover {
      background: gray;
    }
  }
}

.betInvitePanel {
  .betInvite {
    width: 80%;
    height: 30px;
    margin: 5px auto;
    border-style: solid;
    border-color: black;
    cursor: pointer;
    &:hover {
      background: gray;
    }
  }
}
/* End of style for Profile.html */


/* Style for popOvers */
.modal.fade.in {
  top: 40% !important;
}
@modalWidth: 700px;
.betInviteModal {
  width: @modalWidth !important;
  left: 45% !important;
  .header {
    border-bottom: 2px solid gray;
    height: 40px;
  }
  .teams {
    height: 80px;
    background: #EEE;
    margin-bottom: 15px;
    position: relative;
    .time {
      position: absolute;
      bottom : 5px;
      left: 34%;
      font-size: 1.3em
    }
    .left, .middle {
      float: left;
    }
    .right {
      float: right;
      .text {
        text-align: right;
      }
    }
    img {
      border-style: solid;
      border-color: #6D84B4;
      border-width: 3px;
      .rounded-corners(4px);
      width: 56px;
      height: 56px;
      float: left;
      margin: 10px;
    }
    .text {
      float: left;
      margin-top: 10px;
      .teamName {
        font-size: 2em;
      }
      .spread {
        font-weight: bold;
        font-size: 2em;
      }
    }
  }
  .helmets {
    width: 100%;
    height: 180px;
    .inner {
      width: 80%;
      margin: 0 auto;
      height: 100%;
      img {
        width: 45%;
        &.left {
          float: left;
        }
        &.right {
          float: right;
        }
      }
    }
  }
  .money {
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    height: 40px;
    margin-top: 50px;
  }
  .buttons {
    position: relative;
    @marginBottom: 20px;
    .acceptBtn {
      margin-left: 35%;
      margin-top: 25px;
      margin-bottom: @marginBottom;
      width: 220px;
      height: 50px;
      font-weight: bold;
      font-size: 2.0em;
    }
    .declineBtn {
      position: absolute;
      bottom: @marginBottom;
      right: 15px;
    }
  }
}

/* End of style for pop overs */


.betTypes {
  position: relative;
  height: 300px;
  .infoBackground {
    position:absolute;
    top: 20px !important;
  }
  .betTypeBtnGroup {
    width: @panelWidth;
    padding-top: 10%;
    h2 {
      text-align:center;
    }
    .btns {
      .btn {
        margin: 20px;
      }
      text-align: center;
    }
  }
}

/* Style for SocialBet.html */
.socialBet  {
  position: relative;
  height: 600px;
  .infoBackground {
    position:absolute;
    top: 20px !important;
  }
  .gameSelection, .friendSelection {
    position: relative;
    .titleText {
      padding-top: 20px;
      margin-left: 20px;
    }
  }
  .gameSelection {
    .gamesPanel {
      .round-block(@panelWidth, 8px, 10px auto 0 auto);
      height: 350px;
      overflow: auto;
      .gameChip {
        margin: 5px 10px 5px 10px;
        float: left;
        width: 30%;
      }
    }
    .betOptionsPanel {
      .round-block(@panelWidth, 8px, 10px auto 0 auto);
      min-height: 100px;
      position: relative;
      .betOptionsInner {
        float: left;
      }
      .btn {
        float: right;
        margin-right: 15px;
        margin-top: 20px;
      }
    }
  }
  .friendSelection {
    // Hidden initially!
    display: none;
    .friendPanel {
      .round-block(@panelWidth, 8px, 10px auto 0 auto);
      height: 450px;
      .allFriends {
        overflow: auto;
        height: 90%;
      }
      .friendFilters {
        .filter {
          width: 20%;
        }
        .searchBox {
          width: 75%;
        }
      }
    }
    .btnGroup {
      width: @panelWidth;
      margin: 20px auto;
      .btn {
        float: right;
        margin-right: 10px;
      }
    }
  }
}
/* End of style for SocialBet.html */