/* app css stylesheet */
body {
  padding-top: 40px;
}

.callForActionPanel {
  position: absolute;
  top: 50%;
  left: 50%;
}

.betTypes {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Style for SocialBet.html */

.carousel-control:hover {
  opacity: 0.5 !important;
  filter: alpha(opacity=50) !important;
}

.carousel-control.enabled:hover {
  opacity: 0.9 !important;
  filter: alpha(opacity=90) !important;
}


.friendsPanel {
  position: relative;
  max-width: 450px;
  min-height: 300px !important;
  border:5px;
  border-style:solid;
}

.friendsPanel .nextBtn{
  position: absolute;
  right: 0;
  bottom: 0;
}

.eventsPanel {
  max-width: 450px;
  min-height: 300px !important;
  border:5px;
  border-style:solid;
}

.sportsListing {
  list-style: none;
}

.sportsListing li.event {
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
  width: 220px;
  height: 43px;
  font-size: 14px;
  font-weight: bold;
  line-height: 43px;
  text-align: center;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.sportsListing li.event:hover {
  font-size: 15px;
  /* light gray */
  background-color: #F2F2F2;
}

.sportsListing li.event .selectedEvent {
  font-size: 15px;
  /* light gray */
  background-color: #6495ED;
}
/* End of style for SocialBet.html */