/* app css stylesheet */

/* Global variables */
@panelWidth: 90%;

// --- Useful mixins ------//
.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.transition(@property, @duration) {
  -moz-transition-property: @property;
  -moz-transition-duration: @duration;
  -webkit-transition-property: @property;
  -webkit-transition-duration: @duration;
  -o-transition-property: @property;
  -o-transition-duration: @duration;
}

.box-shadow (@string) {
  box-shadow: @string;
  -moz-box-shadow: @string;
  -webkit-box-shadow: @string;
}

.round-block(@width: 90%, @corner: 8px, @margin: 20px auto 0 auto) {
  width: @width;
  margin: 20px auto 0 auto;
  border-style: solid;
  border-color: darkgray;
  border-width: 2px;
  .box-shadow(0px 2px 2px 1px grey);
  .rounded-corners (@corner);
}
// ---- End of mixins ------//

body {
  background-size: 160%;
  background-image:url('../img/background.jpg');
  color: #F8F8F8 !important;
}

// Css for text that is used as section titles in the app.
.titleText {
  color: white;
  font-family: Zapf Chancery, cursive;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 1px 2px black;
}


/* CSS for widgets that may be used in multiple views */

.gameChip {
  width: 400px;
  height: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin: 5px auto 5px auto;
  cursor: pointer;
  &:hover {
    background-color: gray;
  }

  .block {
    float: left;
    width: 33.33%;
    height: 100%;
    text-align: center;
    .teamLogo {
      width: 70px;
      height: 70px;
      display: block;
      margin: 5px auto;
    }
    .vsText {
      text-align: center;
      font-size: 3em;
      height: 30%;
      margin-top: 20%;
      margin-bottom: 10%;
    }
  }
}

// ------------- End of widgets style -----------------//

/* CSS for loading mask */
.loadMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: transparent;
  opacity: 0.0;
  .transition(opacity, .6s);

  .backDrop {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  .spinnerBg {
    position: absolute;
    left: 45%;
    top: 35%;
    width: 150px;
    height: 150px;
    background-color: black;
    opacity: .7;
    .rounded-corners(10px);
  }

  .innerMask {
    position: relative;
    left: 45%;
    top: 35%;
    width: 150px;
    height: 150px;
    background-color: transparent;

    .text{
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 10%;
      font-weight: bold;
      color: white;
      font-size: 15px;
    }
  }
}


.loadMask.fade {
  opacity: 1;
  .transition(opacity, .6s);
}

.navbar {
  margin-top: 10px;
  min-height: 50px;
  .activeItem {
    color: gray !important;
    text-decoration:underline;
  }
  .navitem {
    display: inline-block;
    width: 15%;
    color: white;
    font-family: Zapf Chancery, cursive;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    vertical-align: bottom;
    cursor: pointer;
    &:hover {
      color: gray;
    }
  }
  .appname {
    background-image: url('../img/appname.png');
    width: 210px;
    height: 50px;
    margin-left: 30px;
  }
}

.infoBackground {
  .rounded-corners (16px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/informationBackground.png');
  opacity: 0.7;
}

/* Style for landing.html */
.landingPanel {
  margin-top: 20px;
  min-height: 600px;
  position: relative;
  .callForActionPanel {
    margin: 10px auto 20px auto;
    width: 70%;
    .appName {
      width: 400px;
      height: 200px;
      display: block;
      margin: 0 auto;
    }
    .betBtn {
      height: 60px;
      width: 150px;
      margin: 0 auto;
      display: block;
    }
    .howBtn {
      width: 150px;
      margin: 10px auto;
      display: block;
    }
  }
  .recentBets {
    margin: 0 auto;
    color: white;
    width: 70%;
    .recentBetList {
      margin-top: 5px;
      height: 235px;
      border-style: solid;
      border-color: black;
    }
  }
}
/* End of styles for landing.html */

/* Style for Profile.html */
.profilePagePanel {
  position: relative;
  .infoBackground {
    top: 20px !important;
  }
  .profileHeader {
    position: relative;
    .round-block(@panelWidth);

    .profileImg {
      display: inline-block;
      border: 2px blue solid;
      width: 100px;
      height: 130px;
      margin: 10px;
      .rounded-corners (5px);
    }

    .profileInfo {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.5;
      text-shadow: 1px 1px 2px black;
      .username {
        font-weight: bold;
        font-size: 18px;
        font-family: Zapf Chancery, cursive;
      }
      .betBtn {
        margin-top: 10px;
      }
    }
  }

  .controlTabs {
    width: 60%;
    margin: 30px auto 0 auto;
    min-height: 200px;
    @lightBlack: #555;
    .nav-tabs {
      a:hover {
        color: @lightBlack;
      }
      .active {
        a {
          color: @lightBlack;
        }
      }
      a {
        color: #F8F8F8;
        text-shadow: 0px 1px 1px black;
      }
    }

    .tabContent {
      .round-block(100%, 4px);
       min-height: 200px;
/*      .rounded-corners(4px);*/
    }
  }
}

.activeBetsPanel {
  .activeBet {
    width: 80%;
    height: 30px;
    margin: 5px auto;
    border-style: solid;
    border-color: black;
    cursor: pointer;
    &:hover {
      background: gray;
    }
  }
}
/* End of style for Profile.html */


/* Style for popOvers */
.modal {
  color: black;
  .header {
    
  }
}

.betInfoModal {
  
}

/* End of style for pop overs */


.betTypes {
  position: relative;
  height: 300px;
  .infoBackground {
    position:absolute;
    top: 20px !important;
  }
  .betTypeBtnGroup {
    width: @panelWidth;
    padding-top: 10%;
    h2 {
      text-align:center;
    }
    .btns {
      .btn {
        margin: 20px;
      }
      text-align: center;
    }
  }
}

/* Style for SocialBet.html */
.socialBet  {
  position: relative;
  height: 600px;
  .infoBackground {
    position:absolute;
    top: 20px !important;
  }
  .socialBetContent {
    position: relative;
    .titleText {
      margin-top: 20px;
      margin-left: 20px;
    }
    .gameTypeSelect {
      margin-top: 20px;
      margin-left: 20px;
    }
    .gamesPanel {
      .round-block(@panelWidth, 8px, 10px auto 0 auto);
      height: 450px;
      overflow: auto;
    }
    .betOptionsPanel {
      .round-block(@panelWidth, 8px, 10px auto 0 auto);
      height: 80px;
      .block {
        float:left;
        width: 16.5%;
        height: 100%;
        input[type="number"] {
          width: 80%;
        }
      }
    }
    .betControls {
      margin: 15px auto 0 auto;
      width: @panelWidth;
      .friendSelection {
        float: left;
        .friendInput {
          width: 400px;
        }
      }
      .betBtn {
        float: right;
        height: 70px;
        width: 150px;
        font-weight: bold;
        font-size: 1.5em;
        .icon-credit {
          width: 50px;
          height: 85px;
          background-image: url(../img/credit.png);
        }
      }
    }
  }
}

/*.panelOne {}
.panelOne .friendInput {
  width: 90%;
  margin: 10px;
}

.friendsPanel .nextBtn{
  position: absolute;
  right: 0;
  bottom: 0;
}

.eventsPanel {
}

.sportsListing {
  list-style: none;
}

.sportsListing li.event {
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
  width: 220px;
  height: 43px;
  font-size: 14px;
  font-weight: bold;
  line-height: 43px;
  text-align: center;
  border: 1px solid #DDD;
  .rounded-corners(4px);
}
*/
/*.sportsListing li.event:hover {
  font-size: 15px;
  background-color: #F2F2F2;
}*/

/*.sportsListing li.event .selectedEvent {
  font-size: 15px;
  background-color: #6495ED;
}

.betPanel .predictionChip {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #DDD;
  .rounded-corners(4px);
}

.betPanel .predictionChip:hover {
  background-color: #F2F2F2;
}

.betPanel .predictionChip.winner {
  background-color: #5BB75B;
}*/
/* End of style for SocialBet.html */