/* app css stylesheet */

/* Global variables */
@panelWidth: 90%;

// --- Useful mixins ------//
.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.transition(@property, @duration) {
  -moz-transition-property: @property;
  -moz-transition-duration: @duration;
  -webkit-transition-property: @property;
  -webkit-transition-duration: @duration;
  -o-transition-property: @property;
  -o-transition-duration: @duration;
}

.box-shadow (@string) {
  box-shadow: @string;
  -moz-box-shadow: @string;
  -webkit-box-shadow: @string;
}
// ---- End of mixins ------//

body {
  background-image:url('../img/background.jpg');
  color: #F8F8F8 !important;
}

/* CSS for loading mask */
.loadMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: transparent;
  opacity: 0.0;
  .transition(opacity, .6s);

  .backDrop {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  .spinnerBg {
    position: absolute;
    left: 45%;
    top: 35%;
    width: 150px;
    height: 150px;
    background-color: black;
    opacity: .7;
    .rounded-corners(10px);
  }

  .innerMask {
    position: relative;
    left: 45%;
    top: 35%;
    width: 150px;
    height: 150px;
    background-color: transparent;

    .text{
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 10%;
      font-weight: bold;
      color: white;
      font-size: 15px;
    }
  }
}


.loadMask.fade {
  opacity: 1;
  .transition(opacity, .6s);
}

.navbar {
  margin-top: 10px;
  min-height: 50px;
  .activeItem {
    color: gray !important;
    text-decoration:underline;
  }
  .navitem {
    display: inline-block;
    width: 15%;
    color: white;
    font-family: Zapf Chancery, cursive;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    vertical-align: bottom;
    cursor: pointer;
    &:hover {
      color: gray;
    }
  }
  .appname {
    background-image: url('../img/appname.png');
    width: 210px;
    height: 50px;
    margin-left: 30px;
  }
}

.infoBackground {
  .rounded-corners (16px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/informationBackground.png');
  opacity: 0.7;
}

/* Style for landing.html */
.landingPanel {
  margin-top: 20px;
  min-height: 600px;
  position: relative;
  .callForActionPanel {
    margin: 10px auto 20px auto;
    width: 70%;
    .appName {
      width: 400px;
      height: 200px;
      display: block;
      margin: 0 auto;
    }
    .betBtn {
      height: 60px;
      width: 150px;
      margin: 0 auto;
      display: block;
    }
    .howBtn {
      width: 150px;
      margin: 10px auto;
      display: block;
    }
  }
  .recentBets {
    margin: 0 auto;
    color: white;
    width: 70%;
    .recentBetList {
      margin-top: 5px;
      height: 235px;
      border-style: solid;
      border-color: black;
    }
  }
}
/* End of styles for landing.html */

/* Style for Profile.html */
.profilePagePanel {
  position: relative;
  .infoBackground {
    top: 20px !important;
  }
  .profileHeader {
    position: relative;
    width: @panelWidth;
    margin: 20px auto 0 auto;
    border-style: solid;
    border-color: darkgray;
    border-width: 2px;
    .box-shadow(0px 3px 4px 1px grey);
    .rounded-corners (8px);

    .profileImg {
      display: inline-block;
      border: 2px blue solid;
      width: 100px;
      height: 130px;
      margin: 10px;
      .rounded-corners (5px);
    }

    .profileInfo {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.5;
      text-shadow: 1px 1px 2px black;
      .username {
        font-weight: bold;
        font-size: 18px;
        font-family: Zapf Chancery, cursive;
      }
      .betBtn {
        margin-top: 10px;
      }
    }
  }

  .controlTabs {
    width: 60%;
    margin: 30px auto 0 auto;
    min-height: 200px;
    @lightBlack: #555;
    .nav-tabs {
      a:hover {
        color: @lightBlack;
      }
      .active {
        a {
          color: @lightBlack;
        }
      }
      a {
        color: #F8F8F8;
        text-shadow: 0px 1px 1px black;
      }
    }

    .tabContent {
      border-style: solid;
      border-color: darkGray;
      border-width: 1 px;
      min-height: 200px;
      .rounded-corners(4px);
    }
  }
}
/* End of style for Profile.html */

.betTypes {
  position: relative;
  height: 300px;
  .infoBackground {
    position:absolute;
    top: 20px !important;
  }
  .betTypeBtnGroup {
    width: @panelWidth;
    padding-top: 10%;
    h2 {
      text-align:center;
    }
    .btns {
      .btn {
        margin: 20px;
      }
      text-align: center;
    }
  }
}

/* Style for SocialBet.html */
.socialBet  {
  position: relative;
  height: 600px;
  .infoBackground {
    position:absolute;
    top: 20px !important;
  }
  .socialBetContent {
    position: relative;
    width: @panelWidth;
  }
}

.panelOne {}
.panelOne .friendInput {
  width: 90%;
  margin: 10px;
}

.friendsPanel .nextBtn{
  position: absolute;
  right: 0;
  bottom: 0;
}

.eventsPanel {
}

.sportsListing {
  list-style: none;
}

.sportsListing li.event {
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
  width: 220px;
  height: 43px;
  font-size: 14px;
  font-weight: bold;
  line-height: 43px;
  text-align: center;
  border: 1px solid #DDD;
  .rounded-corners(4px);
}

.sportsListing li.event:hover {
  font-size: 15px;
  /* light gray */
  background-color: #F2F2F2;
}

.sportsListing li.event .selectedEvent {
  font-size: 15px;
  /* light gray */
  background-color: #6495ED;
}

.betPanel .predictionChip {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #DDD;
  .rounded-corners(4px);
}

.betPanel .predictionChip:hover {
  /* light gray */
  background-color: #F2F2F2;
}

.betPanel .predictionChip.winner {
  /* green */
  background-color: #5BB75B;
}
/* End of style for SocialBet.html */